.courses-page-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .courses-page-container {
    padding: 1rem;
    gap: 1rem;
  }
}
